<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/authors">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/genres">Genres</a>
    </li>
</ul>
